<div class="add-product-form">
  <h2>Produkt hinzufügen</h2>
  <form (ngSubmit)="addProduct()">
    <label for="name">Produktname</label>
    <input type="text" [(ngModel)]="newProduct.name" name="name" id="name" placeholder="Name des Produkts" required />

  <label for="price">Preis (€)</label>
  <input type="number" step="0.01" [(ngModel)]="newProduct.price" name="price" id="price" placeholder="Preis in Euro" required />

    <label for="image">Produktbild</label>
    <input type="file" id="image" (change)="onProductImageSelected($event)" />
    <div *ngIf="productImagePreview" class="image-preview-container">
      <img [src]="productImagePreview" alt="Bildvorschau" class="preview" />
    </div>

    <button type="submit" class="modern-btn">Hinzufügen</button>
  </form>
</div>
